* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  background-color: #fff;
}

.clear {
  clear: both;
}

main {
  margin-top: 4%;
  margin-bottom: 27%;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

a:link {
  color: #00bfff;
}

a:visited {
  color: rgb(139, 139, 139);
}

.container,
.origin-country img {
  text-align: center;
  height: max-content;
  width: 55%;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 70%), rgba(0, 0, 0, 70%) 100%);
  box-shadow: 1 5 4;

  display: block;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.336);
}

.origin-country img {
  margin-top: 20px !important;
  box-shadow: 0 0 0;
}

.title {
  margin-top: 2%;
  margin-bottom: 1%;
  color: rgb(255, 255, 255);
}

.scientific-name {
  color: rgb(156, 156, 156);
  font-size: 14px;
}

.scientific-classification {
  background-color: #00bfff;
  border: 2px solid rgb(255, 255, 255);
  margin-top: 3%;
  padding: 5px 0;
  margin-left: 2rem;
  margin-right: 2rem;
}

.image-description,
.font-info {
  margin-top: 10px;
  text-align: center;
  font-size: small;
}

.main-image {
  height: 13rem;
  width: 15rem;
  border-radius: 5px;
  margin-top: 2%;
}

.origin-country img {
  border-radius: 5px;
  margin-top: 1%;
  width: 500px;
}

.description {
  color: rgb(219, 219, 219);
  text-align: justify;
  padding: 2rem;
}

.description b {
  color: #fff;
}

.center {
  max-width: 1280px;
  width: 100%;
}

table {
  border: 2px solid rgb(255, 255, 255);
  padding: 5px 0;
  width: auto;
  height: auto;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  background-color: #fff;
}

iframe {
  margin-bottom: 15px;
}

td,
.item {
  width: 700px;
  padding-left: 30px;
}

.header {
  background-color: #00bfff;
  position: relative;
  width: 100%;
  padding: 0 0.1%;
  height: 50px;
  box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.336);
}

.header img {
  cursor: pointer;
}

.container-single {
  height: 450px;
  width: 100%;
  float: left;
  max-width: 800px;
  padding: 30px;
  margin-left: 3%;
  color: rgb(89, 96, 128);
  background-image: url("../images/svg/captura.svg");
  background-color: #464646;
  border-radius: 10px;
  transform: translateY(-20px);
}

.container-single h2 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 80px;
  transform: translateX(-25px);
  font-weight: bold;
}

.container-single img {
  float: left;
  margin-bottom: 30px;
}

.footer {
  /*clear:both;*/
  background-color: rgb(17, 17, 17);
  border-top: 2px solid #888888;
  padding: 20px 0;
  text-align: center;
  font-size: 13px;
  color: #696969;
}

.footer p {
  margin-top: 8px;
}

.footer a {
  display: inline-block;
  text-decoration: none;
  color: #a9a9a9;
}

.footer a:hover {
  color: #c0c0c0;
}

@media screen and (max-width: 1024px) {
  .container-single {
    display: inline-block;
    height: 440px;
    width: 100%;
    max-width: 700px;
    margin-left: 4%;
    margin-top: 15px;
  }
}
@media screen and (max-width: 768px) {
  .container-single {
    float: none;
    display: inline-block;
    height: 600px;
    width: 100%;
    max-width: 400px;
    padding: 30px 30px;
    transform: translateX(-20px);
    box-sizing: border-box;
  }

  .container-single img {
    margin-left: 15px;
  }
}
