* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
}

.clear {
  clear: both;
}

nav {
  display: none;
}

main {
  margin-top: 2%;
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
  width: 100%;
}

a:link {
  color: #00bfff;
}

a:visited {
  color: #00bfff;
}

.container,
.origin-country img {
  text-align: center;
  height: max-content;
  width: 75%;
  border-radius: 10px;
  background: linear-gradient(
    72deg,
    rgba(0, 0, 0, 70%),
    rgba(0, 0, 0, 70%) 100%
  );
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.336);

  display: block;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.origin-country img {
  width: 59% !important;
  height: 63% !important ;
  margin: auto !important;
  margin-top: 20px !important;
  border-radius: 10px;
  margin-top: 1%;
}

.title {
  margin-top: 2%;
  margin-bottom: 0.5%;
  color: rgb(255, 255, 255);
}

.scientific-name {
  color: rgb(149, 149, 149);
  font-size: 14px;
  margin-bottom: 2%;
}

.image-description,
.font-info {
  margin-top: 10px;
  text-align: center;
  font-size: small;
}

.main-image {
  border: 2px solid black;
  height: 17vw !important;
  width: 17vw;
  border-radius: 5px;
  margin: auto;
  margin-top: 2%;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.336);
}

.description {
  color: rgb(219, 219, 219);
  text-align: justify;
  padding: 3% 7rem;
}

.description b {
  color: #fff;
}

.menu-section {
  max-width: 1280px;
  width: 100%;
}

.map-gps {
  margin-top: 1%;
  margin-bottom: 20px;
  width: 67%;
  height: 25vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.336);
}

table {
  width: 50%;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.336);
}

table,
th,
td,
th,
tr {
  margin: auto;
  background-color: #fff;
  border-collapse: collapse;
  border: 2px solid black;
}

th {
  background-color: #00bfff !important;
}

.header {
  background-color: #00bfff;
  position: relative;
  width: 100%;
  padding: 0 0.1%;
  height: 50px;
  box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.336);
}

.header img {
  cursor: pointer;
}

.container-single {
  height: 450px;
  width: 100%;
  float: left;
  max-width: 800px;
  padding: 30px;
  margin-left: 3%;
  color: rgb(89, 96, 128);
  background-image: url("../images/svg/capture.svg");
  background-color: #464646;
  border-radius: 10px;
  transform: translateY(-20px);
}

.container-single h2 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 80px;
  transform: translateX(-25px);
  font-weight: bold;
}

.container-single img {
  float: left;
  margin-bottom: 30px;
}

.footer {
  /*clear:both;*/
  background-color: rgb(17, 17, 17);
  border-top: 2px solid #888888;
  padding: 20px 0;
  text-align: center;
  font-size: 13px;
  color: #696969;
}

.footer p {
  margin-top: 8px;
}

.footer a {
  display: inline-block;
  text-decoration: none;
  color: #a9a9a9;
}

.footer a:hover {
  color: #c0c0c0;
}
.content {
  height: 16vw;
  width: 16vw;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

.bar {
  width: 70px;
  height: 17px;
  border: 2px solid #fff;
  margin: 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}

.bar:hover {
  background-color: #fff;
}

input {
  display: none;
}

.slides {
  display: flex;
  width: 500%;
  height: 100%;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#slide1:checked ~ .s1 {
  margin-left: 0;
}

#slide2:checked ~ .s1 {
  margin-left: -20%;
}

#slide3:checked ~ .s1 {
  margin-left: -40%;
}

#slide4:checked ~ .s1 {
  margin-left: -60%;
}

#slide5:checked ~ .s1 {
  margin-left: -80%;
}

@media screen and (max-width: 1024px) {
  .container-single {
    display: inline-block;
    height: 440px;
    width: 100%;
    max-width: 700px;
    margin-left: 4%;
    margin-top: 15px;
  }
  .description {
    padding: 2rem;
  }
}
@media screen and (max-width: 776px) {
  .container-single {
    float: none;
    display: inline-block;
    height: 600px;
    width: 100%;
    max-width: 400px;
    padding: 30px 30px;
    transform: translateX(-20px);
    box-sizing: border-box;
  }

  .container-single img {
    margin-left: 15px;
  }

  .menu-section {
    display: flex;
    justify-content: space-between;
  }

  .one,
  .two,
  .three {
    background-color: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 40px;
    margin-top: 5px;
    cursor: pointer;
  }

  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: #00bfff;

    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on nav {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 0;
    top: 15px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .menu-section.on nav ul {
    text-align: center;
    display: block;
    list-style: none;
  }

  .menu-section.on nav ul a {
    transition-duration: 0.5s;
    font-size: 3rem;
    line-height: 4rem;
    display: block;
    color: #fff;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
  }

  .menu-section.on nav ul a:hover {
    color: #323665;
    cursor: pointer;
  }

  .menu-section.on img {
    position: absolute;
    left: 0;
    top: 0;
  }

  .origin-country img {
    width: 300px;
  }

  table {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .origin-country img {
    width: 100% !important;
    height: 38vw !important;
  }

  .description {
    text-align: justify;
    padding: 2rem;
  }
  .image-description,
  .font-info {
    font-size: 10px;
  }

  .container {
    width: 90%;
  }

  .map-gps {
    width: 80%;
    height: 40vw;
  }

  .main-image {
    height: 150px !important;
    width: 150px;
    margin-top: 5%;
  }
}
