* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  background-color: #f5fffa;
}

.clear {
  clear: both;
}

nav {
  display: none;
}

.menu-section {
  max-width: 1280px;
  width: 100%;
}

.center-text .titulo h2 {
  transform: translateY(-20px);
  margin-top: -350px;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

.header {
  background-color: #00bfff;
  position: relative;
  width: 100%;
  padding: 0 2%;
  height: 50px;
}

.header img {
  margin: 0px;
  cursor: pointer;
}

.section-1 {
  margin-top: 170px;
  padding: 90px 2%;
}

.section-1 h2 {
  text-align: center;
  color: #462663;
  font-weight: normal;
}

.bg-onda {
  overflow: hidden;
}

.container-section {
  margin-top: 100px;
  text-align: center;
}

.container-single {
  height: 250px;
  margin-top: 15px;
  margin-right: 3%;
  margin-bottom: 40px;
  margin-left: 2%;
  float: left;
  width: 20%;
  padding: 30px;
  color: rgb(89, 96, 128);
  background-color: #fff;
  border: 1px solid rgba(245, 246, 250, 0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.5s;
}

.container-single:hover {
  color: #fff;
  background-color: #87ceeb;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.container-single h2 {
  font-weight: bold;
}

.container-single img {
  border-radius: 15px;
  margin-bottom: 30px;
}

.container-single input[type="submit"] {
  width: 160px;
  height: 40px;
  background-color: #fff;
  font-weight: bold;
  color: rgb(101, 99, 255);
  border: 2px solid rgb(101, 99, 255);
  transition-property: background-color;
  transition-duration: 1s, 0.5s;
  border-radius: 20px;
  cursor: pointer;
}

.container-single input[type="submit"]:hover {
  width: 160px;
  height: 40px;
  background-color: rgb(101, 99, 255);
  font-weight: bold;
  color: #fff;
  border: 2px solid rgb(101, 99, 255);
  border-radius: 20px;
  cursor: pointer;
}

.button-p1,
.button-p2,
.button-p3 {
  margin-top: 2vh;
}

.footer {
  /*clear:both;*/
  background-color: rgb(17, 17, 17);
  border-top: 2px solid #888888;
  padding: 20px 0;
  text-align: center;
  font-size: 13px;
  color: #696969;
}

.footer p {
  margin-top: 8px;
}

.footer a {
  display: inline-block;
  text-decoration: none;
  color: #a9a9a9;
}

.footer a:hover {
  color: #c0c0c0;
}

@media screen and (max-width: 1024px) {
  .container-single {
    display: inline-block;
    height: 200px;
    width: 200px;
    margin-left: 8%;
    margin-top: 15px;
  }
}

@media screen and (max-width: 768px) {
  .container-single {
    float: left;
    width: 35%;
    height: 50vw;
    max-width: 5600px;
    padding: 30px 0;
  }

  .text-container-single {
    font-size: 13px;
  }

  .container-single img {
    border-radius: 50%;
    margin-bottom: 0;
  }

  .bg-onda img {
    width: 850%;
    overflow: hidden;
  }

  .center-text .titulo h2 {
    display: none;
  }
  .section-1 {
    margin-top: -40% !important;
    margin: auto;
  }
  .menu-section {
    display: flex;
    justify-content: space-between;
  }

  .one,
  .two,
  .three {
    background-color: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 40px;
    margin-top: 5px;
    cursor: pointer;
  }

  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: #00bfff;

    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on nav {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 0;
    top: 15px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .menu-section.on nav ul {
    text-align: center;
    display: block;
    list-style: none;
  }

  .menu-section.on nav ul a {
    transition-duration: 0.5s;
    font-size: 3rem;
    line-height: 4rem;
    display: block;
    color: #fff;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
  }

  .menu-section.on nav ul a:hover {
    color: #323665;
    cursor: pointer;
  }

  .menu-section.on img {
    position: absolute;
    left: 0;
    top: 0;
  }
}
